.me{
    height: 50px;
    width: 49%;
    border: rgb(160, 95, 95);
    background-color: inherit;
    font-size: 25px;
    cursor: initial;
    display: inline-block;
  }
  .work{
    height: 50px;
    width: 49%;
    border: rgb(160, 95, 95);
    background-color: inherit;
    font-size: 25px;
    cursor: initial;
    display: inline-block;
  }