/*Navigation Bar start*/
.me{
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  height: 50px;
  width: 49.5%;
  background-color: rgba(0, 0, 0, 0.466);
  font-size: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding-top: 0.5em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.425);
}
.work{
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  height: 50px;
  width: 49.5%;
  background-color: rgba(0, 0, 0, 0.466);
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding-top: 0.5em;
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.425);
}
.topnav .work:hover {
background-color: white;
color: rgba(0, 0, 0, 0.466);
transition-delay: 0.2s;
}
.topnav .me:hover {
background-color: white;
color: rgba(0, 0, 0, 0.466);
transition-delay: 0.2s;
}
/*Navigation bar End*/

.biodata{
  padding: 10px 10px;
}

#aboutme{
  color: red;
  font-size: large;
}

#mypic{
  padding: 8px 8px 8px 8px;
  width: 100%;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.3);
  display: block;
}

#details{
  padding: 1%;
  font-size: 20px;
  font-family: cursive;
  text-align: center;

}

.writeup{
  float: left;
  padding: 30px;
  font-size: 25px;
  font-family: cursive;
}

#name{
  font-family: cursive;
  font-size: 100px;
  padding-left: 30px;
  text-decoration: underline;
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 0em;
}

.designation{
  font-family: cursive;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 0.4em;
  margin-bottom: 0em;
}

#ribbon{
  font-family: cursive;
  font-size: 80px;
  float: inline-end;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 5px 10px 5px 5px;
}
.collapsible {
  background-color: #777;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}
.active, .collapsible:hover {
  background-color: #555;
}